.progress-bar
{
    transition: width 0.4s ease;
}

.progress-bar.weak
{
    background-color: rgb(255, 12, 12);
}

.progress-bar.regular
{
    background-color: #ff9900;
}

.progress-bar.strong
{
    background-color: #1dbb42;
}